

.open-button {
  font-family: 'Poppins', sans-serif;
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}


.form-popup {
  font-family: sans-serif;
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
}


.form-container {
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  max-width: 300px;
  padding: 30px;
  background: linear-gradient(#393f4a, #1c0522);
}
.Login-box {

  font-family: sans-serif;
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;

}
.Login-box h2 {
  margin: 0 0 2em;
  padding: 0;
  color: #1da4f2;
  text-align: center;
}
.Login-box .User-box {
  position: relative;
}

.Login-box .User-box input {
  padding: 10px;
  font-size: 19px;
  color: #fff;
  margin-bottom: 28px;
  border: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  outline: none;
  background: transparent;

}

.Login-box .User-box label {
position: absolute;
top: 0;
left: 0;
padding: 10px 0;
font-size: 16px;
color: #fff;
pointer-events: none;
transition: .5s;
}

.Login-box .User-box input:focus~label,
.Login-box .User-box input:valid~label {
  top: -20px;
  left: 0;
  color: #1da4f2;
  font-size: 1em;
  border-radius: 1em;
}

.Login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #1da4f2;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}
.Login-box a:hover{
  background: #1da4f2;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #1da4f2,
              0 0 25px #1da4f2,
              0 0 50px #1da4f2,
              0 0 100px #1da4f2;
}

.Login-box a span{
  position: absolute;
  display: block;
}

.Login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #1da4f2);
  animation: btn-anim1 .5 linear infinite;
}

@keyframes btn-anim1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}

.Login-box a span:nth-child(2) {
  top: 100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180ged, transparent,#1da4f2);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s;
}

@keyframes btn-anim2 {
  0%{
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }    
}

.Login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #1da4f2);
  animation: btn-anim3 1s linear infinite;
  animation-delay:.5s;
}

@keyframes btn-anim3 {
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}

.Login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360px, transparent, #1da4f2);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s;
}

@keyframes btn-anim4 {
  0%{
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
}

.TransP {
  background: transparent;
  color: #fff;
}


.Login-box {
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 35%;

  font-family: sans-serif;
  display: none;
  bottom: 0;
  z-index: 9;

}

.TransP {
  background: transparent;
  color: #fff;
}

.form-popup {
  font-family: sans-serif;
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
}

.body-UserL{
 
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #21252b;
  font-family: 'Poppins', sans-serif
}
.container{
  width: 340px;
  border: 2px solid #30455e;
  padding: 20px 30px;
  border-radius: 20px;
  background-color: #21252b;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
}
.top p{
  font-size: 30px;
  margin-bottom: 30px;
  color: #30455e;
}
.form div{
  margin: 35px 0;
  position: relative;
  width: 280px;
}
.form div input{
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 50px;
  border: 2px solid #30455e;
  background: transparent;
  color: #fff;
}
.form div input:focus{
  outline: 1px solid #30455e;
}

.form div label{
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 15px;
  font-size: 18px;
  padding: 10px;
  color: #cccc;
  transition: 0.3s;
}
.form div input:focus ~ label,
.form div input:valid ~ label{
  color: #30455e;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  top: -13px;
  left: 30px;
  padding: 2px 5px;
  background: rgba(33,37,43);
}

.btn{
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 20px;
  background: rgba(33,37,43);
  color: #fff;
  border: 2px solid #30455e;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover{
  background:#30455e;
  color: #000;
}
.forgot{
  color: #fff;
  font-size: 16px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: 0.3s;
  width: fit-content;
}
.forgot:hover{
  color: #30455e;
}
.newUser{
  color: #fff;
  font-size: 14px;
}
.newUser span{
  display: inline-block;
  margin-left: 10px;
  font-size: 18px;
  color: #30455e;
  cursor: pointer;
  transition: 0.3s;
}
.newUser span:hover{
  transform: scale(1.15);
}
